html {
    width: 100%;
}

header {
    background-color: #262626;
    padding: 12px;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;

}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 16px;
    display: inline-block;
    border-radius: 24px;

}

body {
    background-color: #f4f4f4;
    ;
    box-sizing: border-box;
}

article {
    margin-top: 192px;
    margin-bottom: 50px;

}

article p {
    text-decoration: none;

}

article h2 {
    text-decoration: none;

}

footer {
    background-color: #f4f4f4;
    position: fixed;
    padding: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

footer p {
    text-decoration: none;
    width: auto;

}

.recipes {
    display: grid;

}

.recipes h2 {
    color: #262626;
}

img {
    align-items: center;
    justify-items: center;
    margin: auto;
    padding: 20px 20px;
    height: 450px;
    width: auto;

}

img:hover {
    position: relative;
    top: -5px;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    color: #138D75;
    text-decoration: underline;
}

p::selection {
    background-color: #feb614;
}

.backhome h3 {
    text-align: center;
}

.single-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    background-color: #eee;
    margin: auto;
    /* box-sizing: border-box; */
}

.single-recipes h1 {
    color: #eee;
    font-size: 40px;
    text-align: center;
    justify-content: center;


}

.single-recipes>div {
    background-color: #138D75;

}

.image-recipe img {
    margin: auto;
}


.title {
    grid-column: 1/5;
    justify-items: center;
    background-color: #262626;

}

.ingredients {
    grid-column: span 3;
    padding: 30px;
}

.ingredients h2 {
    color: #eee;
}



@media only screen and (max-width: 620px) {
    .single-recipes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        background-color: #eee;
        gap: 2px;
        margin: 0;
        box-sizing: content-box;
    }

    .single-recipes h1 {
        color: #eee;
        font-size: 40px;
        text-align: center;
        justify-content: center;


    }

    .single-recipes > div {
        background-color: #2498a3;

    }


    .image-recipe img {
        grid-column: 1/3;
        height: 300px;
        width: 150;
        justify-items: center;

    }
    .image-recipe {
        margin-top: 90px;
        margin-left: 0;
    }


    .single-recipes .title {
        grid-column: 1/3;
        justify-items: center;
        background-color: #a8b0cb;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;

    }

    .ingredients {
        grid-column: 1/3;
        justify-content: center;
        box-sizing: border-box;
    }

    .ingredients h2 {
        color: #eee;
    }
}