
html {
    width: 100%;
}

header {
    background-color: #262626;
    padding: 12px;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;

}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 16px;
    display: inline-block;
    border-radius: 24px;

}
body {
    background-color:#f4f4f4;;
    box-sizing: border-box;
}
article {
    margin-top: 192px;
    margin-bottom: 50px;

}

article p {
    text-decoration: none;

}

article h2 {
    text-decoration: none;
  
}

footer {
    background-color: #f4f4f4;
    position: fixed;
    padding: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

footer p {
    text-decoration: none;
    width: auto;

}

.recipes {
    display: inline-block;
}

.recipes h2 {
    color: #262626;
}

img {
    width:  480px;
    height: 500px;
    object-fit: cover;
    margin-top: 40px;
    float: left;

}

img:hover {
    position: relative;
    top: -5px;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    color:#138D75;
    text-decoration: underline;
}

p::selection {
    background-color: #feb614;
}

.backhome h3 {
    text-align: center;
}

/* responsive styles */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
 img {
    width: 250px;
    height: 230px;
 }
}