
header {
    background-color: #f36;
    padding: 12px;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;

}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 16px;
    display: inline-block;
    border-radius: 24px;

}
body {
    background-color:#f4f4f4;;
}
article {
    margin-top: 192px;
}

article p {
    padding: 8px 16px;
    
}

footer {
    background-color: #f56;
    position: relative;
    padding: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

footer p {
    display: inline-block;
    color: white;
}
